$width: 100vw;
// $height: $width / 1.618;
$border: 0.5px solid #4A4949;

// body {
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: "Roboto", sans-serif;
// }

.container-home {
  width: $width;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;

  //  height: $width / 2.118;
}

.grid-wrapper {
//   min-width: 100%;
//   min-height: 100%;
//   height: auto !important;
//   width: auto !important;
//   border: $border;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  width: 100%;
  height: 100%;
  flex: 1;
  margin-bottom: 70px;
  
  grid-template-columns: 61.8% 9.02% 5.58% 23.6%;
  grid-template-rows: 61.8% 9.02% 5.58% 23.6%;
  grid-template-areas: 
    "A B B B"
    "A D D C"
    "A D D C"
    "A D D C";  
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  
  color: #F2F2F2;
  font-size: 1.5em;
  // font-weight: 700;
  // text-shadow: 1px 1px 1px #878787;
  box-sizing: border-box;
  overflow: hidden;
//   border: $border;
  
  &.a {
    grid-area: A;
    background: url("https://iili.io/wl35PI.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 300s linear infinite;
  }
  &.b {
    grid-area: B;
    
    background: url("https://iili.io/hhVrMX.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 300s linear infinite;
  }
  &.c {
    grid-area: C;
    background: url("https://iili.io/hhhq6F.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 300s linear infinite;
  }
  &.d {
    grid-area: D;
    background: url("https://iili.io/jlRFmG.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 300s linear infinite;
  }
  &.e {
    grid-area: E;
    font-size: 1.2em;
    background: url("https://iili.io/hhVrMX.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
  /*adjust s value for speed*/
    animation: animatedBackground 300s linear infinite;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 10000px 0;
  }
}

// .item {
//   transform: scale(1.0);
//   transition: all 0.3s ease-out;
// }

// .item:hover  {
//   opacity: 0.3;
// }

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit-image:hover {
  opacity: 1;
}

.banner-content-home {
  position: absolute;
  display: flex;
  top:0;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: center;

  height: 100%;
  // background-color: #000;
}

.banner-content-home:hover {
  background-color:#ffffff77;
  opacity: 1;
}

.banner-content-home h3 {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;

}


.item:hover .banner-content-home h3 {
  transform: translateY(0);
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.item:hover .banner-content-home p {
  transform: translateY(0);
  opacity: 1;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.container-home-mobile {
  display: none;
}

// MOBILE

@media only screen and (max-device-width: 480px) {
  .container-home {
    display: none;
  }

  .container-home-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }



  .grid-wrapper-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .item-mobile {
    height: 600px;
    position: relative;
     &.a {
      grid-area: A;
      background: url("https://iili.io/wl35PI.jpg");
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto 100%;
    /*adjust s value for speed*/
      animation: animatedBackground 300s linear infinite;
     }
     &.b {
      grid-area: B;
      
      background: url("https://iili.io/hhVrMX.jpg");
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto 100%;
    /*adjust s value for speed*/
      animation: animatedBackground 300s linear infinite;
    }
    &.c {
      grid-area: C;
      background: url("https://iili.io/hhhq6F.jpg");
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto 100%;
    /*adjust s value for speed*/
      animation: animatedBackground 300s linear infinite;
    }
    &.d {
      grid-area: D;
      background: url("https://iili.io/jlRFmG.jpg");
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto 100%;
    /*adjust s value for speed*/
      animation: animatedBackground 300s linear infinite;
    }
    &.e {
      grid-area: E;
      font-size: 1.2em;
      background: url("https://iili.io/hhVrMX.jpg");
      background-repeat: repeat;
      background-position: 0 0;
      background-size: auto 100%;
    /*adjust s value for speed*/
      animation: animatedBackground 300s linear infinite;
    }
  }


  
  .banner-content-home-mobile {
    position: absolute;
    display: flex;
    top:0;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
  
    height: 100%;
    // background-color: #000;
  }
  
  .banner-content-home-mobile:hover {
    background-color:#ffffff77;
    opacity: 1;
  }
  
  .banner-content-home-mobile h3 {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
  
  }
  
  
  .item-mobile:hover .banner-content-home-mobile h3 {
    transform: translateY(0);
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  .item-mobile:hover .banner-content-home-mobile p {
    transform: translateY(0);
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
}